<div>
<p>
  本文是实践响应头控制浏览器缓存的过程。在开始之前，我们建议您打开 DevTools 或浏览器的相应工具来检查网络流量。
</p>
<p>
  原文链接: 
  <a href="
  https://learn-performance-caching.glitch.me/
  ">https://learn-performance-caching.glitch.me/</a>
</p>
  <p>
    <img
      width="942"
      height="356"
      src="https://blog-1318409910.cos.ap-beijing.myqcloud.com/blog/20231107200400.png"
      alt="Screenshot of Chrome DevTools showing network response."
    />
  </p>
</div>