<ol>
  <li {{#unless step}}selected{{/unless}}><a href="/"><span class="step">Welcome</span></a></li>
  <li {{#ifeq step 1}}selected{{/ifeq}}><a href="/no-store"><span class="step"><code>no-store</code></span></a></li>
  <li {{#ifeq step 2}}selected{{/ifeq}}><a href="/etag"><span class="step"><code>etag</code></span></a></li>
  <li {{#ifeq step 3}}selected{{/ifeq}}><a href="/last-modified"><span class="step"><code>last-modified</code></span></a></li>
  <li {{#ifeq step 4}}selected{{/ifeq}}><a href="/max-age"><span class="step"><code>max-age=N</code></span></a></li>
</ol>